@media screen and (min-width: 60em) {
    main {
        display: inline-flex;
        margin: 0rem auto;
        padding: 1rem;
        padding: 0rem;
    }
    section {
        width: 70%;
    }
    main section:last-child {
        width: 60%;
        margin: var(--margin);
        max-width: 350px;
        max-height: 900px;
    }
    .mobile-view img {
        width: 95%; 
        min-width: 240px;
    }
}