@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@300;400&display=swap');

:root {
    --border-radius: 1rem 1rem 0rem 0rem;
    --margin : 1rem 0.5rem 1rem 0.5rem;
    --border: solid 0.1px gray;
}

body {
    display:block;
   
    text-align: center;
    font-family: "Roboto Mono", "Open Sans","sans";
    margin: 0rem auto;
    font-size: 14px;
}

main {
    display: flex;
    grid-template-rows: 0.2fr 6fr 0.1fr;
    grid-template-columns: 1fr;
    margin: var(--margin);
    margin: 0rem auto;

}

header {
    background-color: rgb(0, 0, 51);
    color: white;
}

header h2 {
    margin-top: 0.7rem;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
}

section {
    margin-top: 1rem;
    margin: var(--margin);
    border-radius: var(--border-radius);
    max-width: 350px;
}

a {
    text-decoration: none;
}
.principle {
    background-color: rgba(0, 28, 130, 0.807);
    display: flex;
    color: white;
    padding-left: 0.5rem;
    border-radius: var(--border-radius);
}

.principle h3 {
    margin: 0.5rem 0rem;
}

.company-name {
    display: block;
    float: left;
    padding-left: 0.5rem;
    
}

.company-name p {
    text-align: left;
}

.mobile-view {
    background-color: rgb(243, 242, 242);
    padding: 1rem 0rem;
    border: var(--border);
   /*  margin-bottom: 5rem; */

}


.mobile-view img {
    width: 95%;
    max-height: 989px;
    border: var(--border)
}

.mobile-view p {
    text-align: left;
    margin-left: 0.5rem;
    margin-bottom: 0rem;
}

ul {
    text-align: left;
    padding-left: 1.5rem;
}


footer {
    display: block;
    background-color: rgb(0, 0, 51);
    color: white;
    grid-row: 7/7;

}

footer p {
    padding-top: 2rem;
    margin: 0rem;
}