
@media screen and (min-width: 32em) {


    .name img {
        width: 65px;
        height: 65px;
    }

    main {
            grid-template-rows: repeat(2, 1fr); 

    }
    
    

    footer {
        grid-template-rows: 1fr 0.1fr;
        
    }



    .footer-main {
        display: grid;
        grid-template-columns: 0.5fr 0.7fr;
        justify-content: center;


    }

    .footer-left {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .footer-info {
        align-self: center;
    }

    .footer-image {
        align-self: center;
        justify-content: center;

    }

    .footer-image img {
        margin: .2em;

    }

    .footer-right {
        justify-content: center;
        text-align: center;
        align-self: center;
    }


    .footer-right p:nth-child(2) {
        margin: 0;
    }

    .footer-sub {
  
        align-items: center;

    }

   
}

