@media screen and (min-width: 64em){
    header {
        min-width: 1000px;
        
        margin: 0em auto;
        padding: 0em auto;
    }
    main {
        max-width: 1000px;
        width: 100%;
        margin: 0em auto;
        justify-content: center;
        padding: 0em ;

    }
    nav {
        max-width: 1000px;
        width: 100%;
        margin: 0em auto;
    }
    footer {
        max-width: 1000px;
        width: 100%;
        margin: 0em auto;
    } 

    .color-sch-main {
        max-width: 1000px;
        width: 100%;
        margin: 0em auto;
        justify-content: center;
        padding: 0em ;
    }
}