/* https://coolors.co/palette/e63946-f1faee-51BABD-457b9d-1d3557*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --backgr-main:#1D3557;
    --backgr-subheadings: #457B9D;
    --constrast-backgr-main: #51BABD;
    --constrast-backgr-subh: #F1FAEE;
    --distintive-color: #E63946;
}




body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px auto;
    font-family: "Roboto Mono", "sans";
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
}

header img { 
    width: 70%;
    max-width: 95px;
    max-height: 95px;
    margin: 1em;
}


nav {
    display: flex;
	flex-direction: column;
    background-color: var(--backgr-main);
    text-align: center;  
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	color: var(--constrast-backgr-main);
}
nav div {
	flex: 1 1 auto;
}

nav div:hover {
	background-color: var(--backgr-subheadings);
	color: var(--constrast-backgr-main);
}

nav p {
    text-align: center;
    padding: 0.5em;
}

nav p:hover {
    background-color: var(--backgr-subheadings);
}
.name {
    font-size:65%;
}

main {
    display:grid;
    text-align: left;
    margin: 1rem auto;
    padding: 0 2em;
}


a {
    text-decoration: none;
    color: white;

}

h1 {
    font-size: 1em;
}

h2 {
    background-color: var(--backgr-main);
    text-align: left;
    padding: 0.4em 1em;
    color: white;
}

h3 {
    color: white;
    padding: 1em;
    background-color:var(--constrast-backgr-main);
}


h4 {
    background:var(--backgr-subheadings);
    color: white;
    padding: 0.5em 1em;
}

.personas {
    padding:1em;
    border: solid 1.8px var(--backgr-subheadings);
    justify-self: center;
    margin: 0em auto;
    max-width: 700px;
    border-radius: .2em;
}

hr {
    font-size: 3em;
}

.personas h5 {
    font-size: 1.2em;
    color: var(--backgr-subheadings);
    margin-left: .7em;
}

.personas img {
    text-align: center;
    max-width: 120px;
    max-height: 180px;
    border-radius: .3em;
    margin-left: .7em;
}

.description {
    border: solid 2px var(--backgr-main);
    color: var(--backgr-main);
    padding: .5em;
    border-radius: .3em;
}

ul {
    list-style: none;
    padding-left: 0.5em;
}

li {
    padding: .25em;

}

footer {
    display:flex;
    justify-content: center;
    background-color: var(--distintive-color);
    padding: 1em 0em;
    color: white;
    font-size: 15px;
}                                                                   

/* Color Scheme */
.color-sch-main {
    display: grid;
    text-align: left;
    margin: 1rem auto;
    padding: 0 2em;
    font-size:14px;
}

table {
    border:solid 1px var(--backgr-main);

}


table tr:nth-child(2) td:nth-child(4) {
    color: white;
    background-color: var(--backgr-main);
}

table tr:nth-child(3) td:nth-child(4) {
    color: white;
    font-size: 15px;
    background-color: var(--distintive-color);
}





table tr:nth-child(4) td:nth-child(4) {
    font-size: 2em;

}



table tr:nth-child(5) td:nth-child(3) {
    color: white;
    background-color: var(--backgr-main);

}

table tr:nth-child(5) td:nth-child(4) {
    font-size: 1.5em;
    color: white;
    background-color: var(--backgr-main);

}

table tr:nth-child(6) td:nth-child(3){
    color: white;
    background-color: var(--constrast-backgr-main);

}

table tr:nth-child(6) td:nth-child(4){
    font-size: 1.17em;
    color: white;
    background-color: var(--constrast-backgr-main);

}


table tr:nth-child(7) td:nth-child(4) {
    font-size: 16px;
}
td {
    border: solid 0.5px var(--backgr-subheadings);
}

.color-sch-main img {
    width: 100%;
    margin: 1em auto;
    align-self: center;
}


/* Typography  */

#pri-nav{
    color: white;
    background-color: var(--backgr-main);
}

#p-footer {
    color: white;
    font-size: 15px;
    background-color: var(--distintive-color);
}

.color-sch-main P {
    padding:1em; 
}
