@media screen and (min-width: 32em){
    
    nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);   
    }
    h1 {
        font-size: 1.5em;
    }
    
    .color-sch-main {
        font-size:16px;
    }
}