    
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --backgr-main:#C7945F;
    --backgr-subheadings: #8573A1;
    --constrast-backgr-main: #0A0C0B;
    --constrast-backgr-subh: #C2B596;
    --distintive-color: #51807C;

}
html {
    scroll-behavior: smooth;
  }



body {
    display: grid;
    margin: 0px auto;
    font-family: 'Raleway', sans-serif;
    color: var(--constrast-backgr-main)
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
}

header img { 
    width: 70%;
    max-width: 150px;
    max-height: 150px;
    margin: 1em;
}

nav {
    background-color: var(--backgr-main);
    color: #fff;
    display: flex; /* Center horizontally using flexbox */
    align-items: center; /* Center vertically within the nav element */
    justify-content: center; /* Center horizontally within the nav element */
}

.navlist {
    list-style: none;
    display: flex; /* Use flexbox to create a horizontal layout */
    padding: 0;
}

nav li {
    margin: 0 20px; /* Adjust the margin to create spacing between menu items */
}

.navlist a {
    text-decoration: none;
    color: #fff;
}

.navlist a:hover {
    background-color: var(--backgr-subheadings);
    list-style-type: none;
}

.name {
    font-size:65%;
}

main {
    display:grid;
    text-align: left;
    margin: 1rem auto;
    padding: 0 2em;
}
.purpose{
    display: block;
    background-color: var(--backgr-subheadings);
    color: #fff;
    box-shadow: 5px 10px var(--distintive-color);
    font-size:16px; 
    line-height:2.2em; 
    margin-bottom:2.2em;
    padding-inline-start: 10px;
}


.wireframes{
    display: block;
    align-self: center;
    text-align: center;
    background-color: var(--distintive-color);
    box-shadow: 7px 10px var(--backgr-subheadings);
    color: #fff;
    padding-inline-start: 10px;
}
.typography{
    display: block;
    background-color: var(--constrast-backgr-main);
    box-shadow: 7px 10px var(--backgr-main);
    color: #fff;
    padding-inline-start: 10px;
}
.color-sch-main{
    display: block;
    background-color: #fff;
    border: 3px solid #000;
    color: var(--constrast-backgr-main);
    padding-inline-start: 10px;
}
.target-audience{
    display: block;
    background-color: var(--backgr-subheadings);
    box-shadow: 7px 10px var(--backgr-main);
    color: #fff;
    padding-inline-start: 10px;
}

.scenarios{
    display: block;
    background-color: var(--distintive-color);
    box-shadow: 7px 10px var(--backgr-subheadings);
    color: #fff;
    padding-inline-start: 10px;
    font-size:16px;
}


footer {
    display:flex;
    justify-content: center;
    background-color: var(--distintive-color);
    padding: 1em 0em;
    color: white;
    font-size: 15px;
}                                                                   

table {

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


tr , td ,th {
  border: solid 1px #000;
  border-collapse: collapse;
  padding: 0.5rem;
}
#primary {
  background-color: var(--backgr-main);
  color: #fff;
}
#secondary {
  background-color: var(--backgr-subheadings);
  color: #fff;
}
#accent1 {
  background-color: var(--constrast-backgr-main);
  color: #fff;
}
#accent2 {
  background-color: var(--distintive-color);
  color: #fff;
}



