@media screen and (min-width: 25em) {


    .name img {
        width: 65px;
        height: 65px;
    }

    main {
            grid-template-rows: repeat(5, 1fr); 


    }

    .hero-section img {
        width: 100%;
        height: auto;
    }

    header button {
        font-size: 1.5rem;
    }

    #meeting-message p {
        font-size: .8em;

    }

    .join-btn,
    .welcome-message {
        font-size: .7em;
        padding: .5em;
    }

    section img,
    #spotlights img {
        width: 100%;
        max-height: 100px;
    }
    #more-info {
        border: solid 2px var(--constrast-backgr-main);
        margin: .3rem;
    }
    section:nth-child(1) {
        grid-column: 1/4;
    }

    section:nth-child(2) {
        grid-row: 5/6;
        grid-column: 1/3;
        display: grid;
    }

    section:nth-child(3) {
        grid-row: 5/6;
        grid-column: 3/3;
        font-size: .6em;
    }

    section:nth-child(3) img {
        width: 35%;
        height: 40%;
    }


    section:nth-child(4) {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    #spotlights {
        grid-row: 3/4;
        grid-column: 1/4;
        display: inline-flex;
    }

    .spotlight {
        width: 100%;
    }


    section:nth-child(6) {
        display: grid;
        grid-row: 4/4;
        grid-column: 1/4;
    }

    .btn-2 {
        margin: 1em;
        background-color: var(--distintive-color);
        border: none;
        color: white;
        padding: 0.5em;
        border-radius: .5em;
    }

    footer {
        grid-template-rows: 1fr 0.1fr;
        font-size: 0.8em;
    }



    .footer-main {
        display: grid;
        grid-template-columns: 0.5fr 0.7fr;
        justify-content: center;


    }

    .footer-left {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .footer-info {
        align-self: center;
    }

    .footer-image {
        align-self: center;
        justify-content: center;

    }

    .footer-image img {
        margin: .2em;

    }

    .footer-right {
        justify-content: center;
        text-align: center;
        align-self: center;
    }


    .footer-right p:nth-child(2) {
        margin: 0;
    }

    .footer-sub {
        font-size: .75em;
        align-items: center;

    }

   
}