@media screen and (min-width:60em) {
    main {
      display: block;
      grid-template-columns: 1fr auto;
      
    }
    .hero-content {
      width: 350px;
      position: absolute;
      top: 40%;
      left: 30%;
      transform: translate(-50%, -50%);
      
    }
    .hidden{
            display: none;
    }
    .card-container {
      display: flex;
      flex-direction: column;
      justify-content: center; /* Horizontally center items within the container */
      align-items: center; /* Vertically center items within the container */
      font-size: 20px;
      
    }
    .card{
      margin: 20px;
      padding: 10px;
    }
    .card p {
      font-size: 30px;
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
   .form-properties{
    position: relative;
    max-width: 500px;
    top: 20px;
    left: 50px;
    margin: 20px;
    padding: 20px;
   }
    
    
   
  }
  
  