@media screen and (min-width: 32em) {
    body {
        display: block;
        text-align: center;
    }

    header h1 {
        margin: 0;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.7fr 0.8fr;
        justify-items: center;
        padding: 0rem 6%;
    }

    .mobile-view {
        margin-bottom: 0rem;

    }

    main section:last-child {
        grid-column: 1/3;
        width: 100%;
        min-width: 312px;
        margin: 1rem auto;
        max-width: 500px;
        max-height: none;

    }

    footer p {
        padding-bottom: 1rem
    }


}