/* styles/form.css */

/* Use CSS variables for common property settings */
:root {
    --font-family: Arial, sans-serif;
    --text-color: #333;
    --form-background: #f7f7f7;
}

body {
    font-family: var(--font-family);
    background-color: var(--form-background);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}
.password{
    display: flex;
    gap: 10px;
}

label {
    margin-bottom: 10px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;;
    
}
button {
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #333;
}

button:hover {
    background-color: #ccc;
}

#r {
	width: 570px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 20px;
	width: 600px;
}

#rangevalues option {
	flex: 1 1 auto;
}

.eye{
    position: block;
    color: black;
}
footer{
    display: block;
    text-align: center;
}