@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Teko&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family:        'Josefin Sans', sans-serif;
  font-family:        'Teko', sans-serif;
  text-align:         center;
  margin:             0px;
  padding:            0px;
}
/*Header Section*/
header {
  background:         #8A3914;
}
.container{
  display:               flex;
  grid-template-columns: auto auto auto;
  align-items:           center;
  justify-content:       center;
  padding:               10px;
}
h1 {
  font-size:             3.0rem;
  color:               whitesmoke;
}
img {
  width: 100px;
}

/*Navigation Section*/
nav {
  display:          flex;
  margin-top:       0px;
  background-color:#000;
  flex-direction:   column;
  padding:          2px;
  justify-content:  center;
 
}
nav a {
  margin:           20px 0;
  text-decoration:  none;
  font-size:        1.7rem;
  display:          block;
  color:          whitesmoke;
  
}
nav a:hover {
  color: #FCD83A;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 1rem;
}
/*Beyond the lines*/
hr {
  height: 3px;
  background-color: #000;
  margin: 0;
}
/*Card Section*/
li {
  list-style-type: none;
}
.card {
  background-size:      cover;
  text-align:         left;
  padding:            20px;
  font-size:          1.5rem;
  border:             5px solid black;
  border-radius:      15px;
  box-shadow:         14px 16px 12px -3px #929292;
  
}
h3 {
  font-size: 2.9rem;
  background-color: #8A3914;
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

footer {
  background:   #8A3914;
  padding:        2rem;
  text-align:     center;
  color:        #fff;
  padding: 20px;
  position: relative;
  display:        flex;
  text-align:     center;
  flex-direction: column;
  height: 50%;
}
footer p {
  color: #fff;
  font-size: 1.5rem;
}


.card li a {
  text-decoration: none;
}

h2 {
  font-size: 2.5em;
}
.card a:hover {
  color: black;
}


